<!-- <div *ngIf="error">{{error}}</div> -->
<!-- <div *ngIf="success">{{success}}</div> -->
<!-- <div *ngIf="search == 'ok'">Fetched movie: {{movies[0].title}}</div> -->
<div id="form">
  <h2>Pesquisar um filme</h2>
  <form #g="ngForm" name="form" (submit)="getMovie(g)">
    <div class="form-group">
      <label>Identificador</label>
      <div>
        <input type="text" class="form-control" name="id" [(ngModel)]="movie.id" #movieModels="ngModel" placeholder="Informe o identificador do filme" required />
        <button class="btn btn-primary btn-sm" [disabled]="g.invalid">
          Pesquisar
        </button>
      </div>
      <span class="help-block danger" *ngIf="movieModels.errors?.required && movieModels.touched">
        Informe o identificador
      </span>
      <span class="help-block danger" *ngIf="movieModels.errors?.pattern && movieModels.touched">
        Id deve ser um número
      </span>
    </div>
  </form>
</div>

<hr>

<div id="list">
  <h2>Lista dos trabalhos da Ghibli Studio</h2>
  <section class="movie-grid">
    <article class="movie-item" *ngFor="let movie of movies">
      <img src="{{movie.poster}}" alt="{{movie.id}} - {{movie.title}}" />
      <div class="movie-item-details">
        <h3>{{movie.title}}</h3>
        <div>
          <h4>Diretor: {{movie.director}}</h4>
          <h5>Lançamento: {{movie.release_date}}</h5>
          <span>Gênero: {{movie.genre}}</span>
        </div>
      </div>
    </article>
  </section>
</div>

<button *ngIf="search == 'ok'" (click)="getMovies()" >Mostrar os filmes</button>

<hr>

<div id="mainForm">
  <h2>Adicionar um filme</h2>
  <form #f="ngForm" name="mainForm" (submit)="addMovie(f)">
    <div class="form-group">
      <label>Título</label>
      <input type="text"
             class="form-control"
             name="title"
             [(ngModel)]="movie.title"
             #movieModel="ngModel"
             placeholder="Informe o título"
             required>
      <span class="help-block danger" *ngIf="movieModel.errors?.required && movieModel.touched">
        O título é obrigatório
      </span>
    </div>

    <div class="form-group">
      <label>Diretor</label>
      <input type="text"
             class="form-control"
             name="director"
             [(ngModel)]="movie.director"
             #movieModel="ngModel"
             placeholder="Informe o diretor"
             required>
      <span class="help-block danger" *ngIf="movieModel.errors?.required && movieModel.touched">
        O diretor é obrigatório
      </span>
    </div>

    <div class="form-group">
      <label>Data de lançamento</label>
      <input type="text"
             class="form-control"
             name="release_date"
             [(ngModel)]="movie.release_date"
             #movieModel="ngModel"
             placeholder="Informe a data de lançamento"
             required>
      <span class="help-block danger" *ngIf="movieModel.errors?.required && movieModel.touched">
        A data de lançamento é obrigatório
      </span>
    </div>

    <div class="form-group">
      <label>Gênero</label>
      <input type="text"
             class="form-control"
             name="genre"
             [(ngModel)]="movie.genre"
             #movieModel="ngModel"
             placeholder="Informe o gênero"
             required>
      <span class="help-block danger" *ngIf="movieModel.errors?.required && movieModel.touched">
        O gênero é obrigatório
      </span>
    </div>

    <div class="form-group">
      <label>Poster</label>
      <input type="text"
             class="form-control"
             name="poster"
             [(ngModel)]="movie.poster"
             #movieModel="ngModel"
             placeholder="Informe o poster"
             required>
      <span class="help-block danger" *ngIf="movieModel.errors?.required && movieModel.touched">
        O poster é obrigatório
      </span>
    </div>

    <button class="btn btn-primary btn-sm" [disabled]="f.invalid">Adicionar</button>
  </form>
</div>